*~
*.o
*.la
*.lo
*.libs
*.deps
*.log
*.trs
*.core
.tmp.*
AES_GCM_SIV_256/AES_GCM_SIV_256_C_Intrinsics_Code/GCM_SIV_DEC
AES_GCM_SIV_256/AES_GCM_SIV_256_C_Intrinsics_Code/GCM_SIV_ENC
AES_GCM_SIV_128/AES_GCM_SIV_128_C_Intrinsics_Code/GCM_SIV_DEC
AES_GCM_SIV_128/AES_GCM_SIV_128_C_Intrinsics_Code/GCM_SIV_ENC
AES_GCM_SIV_256/AES_GCM_SIV_256_Reference_Code/GCM_SIV_GENERAL_V02_BE
AES_GCM_SIV_256/AES_GCM_SIV_256_Reference_Code/GCM_SIV_GENERAL_V02_LE
AES_GCM_SIV_128/AES_GCM_SIV_128_Reference_Code/GCM_SIV_GENERAL_V02_BE
AES_GCM_SIV_128/AES_GCM_SIV_128_Reference_Code/GCM_SIV_GENERAL_V02_LE
